.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

.bi.largeicon {
  width: 2rem; 
  height: 2rem;
}

.nav-item {
  background-color: #f1f5f9;
  width: 4rem;
  height: 4rem;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 4px;
}
/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
  padding: 16px;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}
.bg-custom-blue {
  background-color: #2470dc;  
}

.widget {
  background-color: #f1f5f9;
  border-radius: 20px;
}

.custom-badge {
  content: ''; /* Required for pseudo-elements */
  display: inline-block; /* Make it an inline block to position it next to text */
  width: 10px; /* Diameter of the circle */
  height: 10px; /* Diameter of the circle */
  border-radius: 50%; /* Makes it a circle */
  margin-right: 5px; /* Space between circle and text */
}

.bdg-info {
  background-color: #007bff; /* Color of the circle */
}

.bdg-warning {
  background-color: #fcd34d; /* Color of the circle */
}

.bdg-success {
  background-color: #22c55e; /* Color of the circle */
}

.custom-slim-badge {
  content: ' '; /* Text content of the badge */
  display: inline-block; /* Make it an inline block to position it next to text */
  background-color: #007bff; /* Background color of the badge */
  color: #fff; /* Text color of the badge */
  padding: 4px 8px; /* Padding inside the badge */
  border-radius: 10px; /* Rounded corners of the badge */
  margin-right: 5px; /* Space between badge and text */
}

.custom-card {
  border-radius: 15px; /* Rounded corners */
  overflow: hidden; /* Hide overflow content */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */

}

.custom-card img {
  width: 100%; /* Make the image fill the entire width of the card */
  border-top-left-radius: 15px; /* Round top-left corner of the image */
  border-top-right-radius: 15px; /* Round top-right corner of the image */
}

.card-content {
  padding: 20px; /* Add padding to the card content */
}